# Created by .ignore support plugin (hsz.mobi)
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.gitignore
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/markdown-navigator/
.idea/misc.xml
.idea/workspace.xml
target/
